{% extends 'base.html' %}
{% load staticfiles %}
{% load Cache %}
{% block stylesheets %}
        <link rel="stylesheet" href="{% static 'user/password.css' %}? {% cache_bust %}" type="text/css">
{% endblock stylesheets %}
    
{% block content %}
    <div class="container text-center">
        <span class="text-center h2 d-block pt-5">Change Password</span>
        <div class="row large-top-padding">
            <div class="col-12 col-md-8  offset-md-2 offset-lg-3 col-lg-6 form-background text-center">
                <form method="POST" action="{% url 'user:password_change' %}">
                 {% csrf_token %}   
                <div class="row form-group">
                    <div class="col-12">
                        {{form.old_password}}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        {{form.new_password1}}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        {{form.new_password2}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class=" btn btn-primary btn-custom">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'user/password.js' %}?{% cache_bust %}"></script>
{% endblock scripts %}
    
    