{% extends 'base.html' %} {% load staticfiles %}
{% load Cache %} {% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'authentication/authenticate.css' %}?{% cache_bust %}"> {% endblock stylesheets %}
{% block content %}
<div class="custom-container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link 
      {% if active_tab == None or active_tab == 'signup' %}
        active
      {% endif %}
        " id="nav-home-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="nav-home"
        aria-selected="
        {% if active_tab == None or active_tab == 'signup' %}
          true
        {% endif %}
          ">SIGN UP</a>
      <a class="nav-item nav-link 
      {% if active_tab == 'login' %}
        active
      {% endif %}
        " id="nav-profile-tab" data-toggle="tab" href="#login" role="tab" aria-controls="nav-profile"
        aria-selected="
        {% if active_tab == 'login' %}
          true
        {% endif %}
          ">LOGIN</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade 
    {% if active_tab == None or active_tab == 'signup' %}
    show active
    {% endif %}
       " id="signup" role="tabpanel" aria-labelledby="nav-home-tab">
      <form method="POST" action="{% url 'authenticate:sign_up' %}" class="pane-top" id="signUpForm">
        {% csrf_token %}
        <div class="row form-group">
          <div class="col-md-6 mb-4 mb-md-0">
            {{form.first_name}}
          </div>
          <div class="col-md-6">
            {{form.last_name}}
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            {{form.email}}
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            {{form.password1}}
            <small class="text-muted">must contains at least 8 characters and atleast one alphabet</small>
          </div>
          <div class="col-md-6">
            {{form.password2}}
          </div>
          <ul>
            {% for error in form.password2.errors %}
            <li class="text-danger no-bullet">{{error}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="row form-group">
          <div class="col">
            {{form.address}}
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-3 col-sm-4 mb-4 mb-md-0">
            {{form.mobile_no.as_widget.0}}
          </div>
          <div class="col-md-9 col-sm-8 mb-4 mb-md-0">
            {{form.mobile_no.as_widget.1}}
          </div>
          <ul>
          {% for error in form.mobile_no.errors %}
          <li class="text-danger no-bullet">{{error}}</li>
          {% endfor %}
          </ul>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Sign up</button>
      </form>
    </div>
    <div class="tab-pane fade 
    {% if active_tab == 'login' %}
    show active
    {% endif %}
      " id="login" role="tabpanel" aria-labelledby="nav-profile-tab">
      {% if error %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{error}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <form method="POST" action="{% url 'authenticate:login' %}?next={{next}}" class="pane-top">
        {% csrf_token %}
        <div class="form-group">
          <input type="email" id="email" name="email" class="form-control" placeholder="Email address">
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="mb-2 text-right">
          <a href="{% url 'authenticate:passwordReset' %}">Forgot Password</a>
        </div>
        <button type="submit" class="btn btn-primary btn-block mx-auto">Login</button>
      </form>
    </div>
  </div>


</div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'authentication/formValidation.js' %}?{% cache_bust %}"></script>
{% endblock scripts %}
