{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/emailConfirmation.css'%}">
{% endblock stylesheets %}
    
{% block content %}
    <div class="container-fluid page-container">
        <div class="text-center">
            <img src="{% static 'CompanyIcon.jpg'%}" alt="Company logo" class="rounded-circle comp-logo">
            <p class="h4 mb-3 mb-md-4 comp-name">EZBOOKS</p>
        </div>
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-3 p-md-5 white-background">
                <div class="text-center">
                    <span class="rounded-circle p-2 p-md-3 mail-background"><i class="fas fa-envelope"></i></span>
                </div>
                <p class="text-muted text-center mt-md-3 mt-2">Here’s just one more quick step</p>
                <p class="h3 text-uppercase text-center">Please confirm your email address</p>
                <p class="text-muted text-center mt-md-3 mt-2">We’ve just sent an email to the address you provided. Please check your inbox to confirm your email address.</p>
        </div>
    </div>
{% endblock content %}
    