{% load inlinecss %}
{% load staticfiles %}
{% autoescape off %}
{% inlinecss "authentication/emailVerification.css" %}
    <div class="container">
        <div class="logo-container">
            <img class="logo" src="{% static 'CompanyIcon.jpg' %}" alt="Company logo">
        </div>
        <p>Hi {{user.first_name}},</p>
        <p>Someone has recently requested a password reset for your EZBOOKS account. To reset your password please click below:</p>
        <a href="http://{{domain}}{% url 'authenticate:passwordChange' uidb64=uid token=token %}" class="btn">Reset Password</a>
        <p>If you didn't make this request, please ignore this email.</p>
        <p>Regards, <br>Team EZBOOKS</p>
    </div>
{% endinlinecss %}
{% endautoescape %}
