{% extends 'base.html' %}
{% load staticfiles %}
{% load Cache %}

{% block stylesheets %}
    <link href="{% static 'home.css' %}?{% cache_bust %}" rel="stylesheet" type="text/css">
    <link href="{% static 'book/category.css' %}?{% cache_bust %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
    
{% block content %}
<div class="col-lg-4 col-12  col-md-8 pl-5 pl-lg-0 offset-md-4 offset-lg-8">
  <form class="form-inline">
      <input class="form-control mr-2 col-8" type="search" placeholder="Enter book or author's name" aria-label="Search" id="searchbar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="SearchButton">Search</button>
  </form>
</div>
<h1 class="text-center text-light text-uppercase bg-primary p-5 mt-3">Trending Collections</h1>
<div id="books-section">
{% for category, books in data.items %}
    <div class="category-container">
      <div class="category-header">
        <h3 class="category-name">{{category}}</h3>
        <a class="btn btn-primary fixed-width" href="{% url 'book:category' category %}">View all</a>
      </div>
      <div class="d-none scroll-background-left">
        <i class="fas fa-chevron-left scroll-button"></i>
      </div>
      <div class="category-books-container">
        {% for book in books %}
          <a class="book-tile" href="{% url 'book:detail' book.id %}">
            <img class="book-cover-img" src="{{book.cover_image.url}}" alt="Cover image of {{book.title}}">
            <div class="h4 hidden-title  d-none">{{book.title}}</div>
          </a>
        {% endfor %}
        <div class="d-none d-md-block scroll-background">
          <i class="fas fa-chevron-right scroll-button"></i>
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'home.js' %}?{% cache_bust %}"></script>
{% endblock scripts %}
  
    
