.form-background{
    background-color: white !important;
    padding: 60px 0;
}

.large-top-padding{
    padding-top: 10%;
}

.btn-custom{
    padding: 10px 50px;
}

#id_old_password, #id_new_password1, #id_new_password2{
    width: 60%;
    margin-bottom: 2vh;
}

.no-bullet{
    list-style-type: none;
}